.main{
    padding : 10px;
    height : 100vh;
}

.layout{
    display: flex;
}

.sidebar{
    min-height: 100%;
    width: 300px;
    border-radius: 20px;
    color: whitesmoke;
    background-color: rgb(100, 6, 6);
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
}

.content{
    width: 100%;
    height: 100%;
}

.header{
    height: 10vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
}

.body{
    height: 85vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
    background-color: white;
}

.logo h2{
    font-size: 2rem;
    margin: 20px 0px;
    text-align: center;
    margin-left: 20px;
}

.menu{
    margin-top: 50px;
}
.menu-item{
    margin-top: 30px;
}
.menu-item a{
    color : whitesmoke;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-item i{
    font-size: 1.2rem;
    margin: 0 15px;
}

.active{
    background-color: white;
    color:rgb(100, 6, 6);
}

.active a, 
.active i{
    color:rgb(100, 6, 6);
    padding: 10px;
}